html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto Slab", serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: #a03a18;
}

.logo-and-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-and-title .logo {
  margin-right: 1.5rem;
  width: 5rem;
  background-color: #fff;
  padding: 0.1rem;
  border-radius: 50%;
}

.logo-and-title .title {
  color: #f8f8f8;
  font-weight: 400;
  letter-spacing: 0.5rem;
  width: 25rem;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links li {
  margin: 0 1rem;
}

#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem 1.5rem;
  text-align: center;
  background-color: #520005;
  border-radius: 2.5rem;
  letter-spacing: 0.1rem;
}

.hero {
  width: 100%;
  height: 75vh;
  background: url("../images/hero-banner.jpg") no-repeat center;
  background-size: cover;
}

.main h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 1rem;
  margin: 2rem 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}

.services,
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f4ebe8;
}

.text {
  width: 50%;
  font-size: 2rem;
  padding: 3rem;
}

.services-img,
.about-img {
  object-fit: cover;
  width: 40%;
  height: 50vh;
  margin: 4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem;
  background-color: #f4ebe8;
}

.gallery img {
  object-fit: cover;
  width: 20%;
  height: 40vh;
}

h2:nth-last-of-type(1) {
  margin-bottom: 0; /* Zera a margem do último h2 (orçamento) */
}

.orcament-title {
  text-align: center;
  font-weight: 500;
  font-size: 2.2rem;
  color: #a03a18;
}

.orcament {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.8rem;
  min-height: 75vh;
text-align: center;
}

.event-type,
.drinks,
.vegan,
.email,
.send-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.event-type-input,
.email-input {
  text-align: center;
  font-size: 1.6rem;
  width: 23rem;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.send-btn-input {
  font-size: 1.6rem;
  width: 20rem;
  padding: 1rem 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  letter-spacing: 0.1rem;
  color: #fff;
  background-color: #a03a18;
}

footer ul.nav-links {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

footer p {
  font-size: 1.4rem;
  font-weight: 300;
}

@media (hover: hover) {
  .gallery img:hover {
    opacity: 80%;
    transition: 0.4s ease-in-out;
  }
}

/* Menu Hambúrguer */

/* Mostra os links do menu horizontalmente em telas grandes */
#hamitems {
  display: flex;
}

/* Esconde o menu hambúrguer em telas grandes */
#hamnav label,
#hamburger {
  display: none;
}

@media (max-width: 576px) {
  /* Para centralizar o menu é necessário que o header tenha position relative */
  .header {
    position: relative;
  }

  /* Configurando a posição e estilização do menu aberto */
  #hamitems {
    position: absolute;
    margin-left: 0 auto;
    left: 0;
    right: 0;
    padding: 1rem;
    top: 9.9rem;
    background-color: #a03a18;
  }

  #hamitems a {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  /* Mostra o ícone do menu hambúrguer em telas menores que 576px */
  #hamnav label {
    display: inline-block;
    color: white;
    font-style: normal;
    font-size: 3rem;
    padding: 10px;
  }

  /* Mostra os itens do menu somente quando o input checkbox for selecionado */
  #hamitems {
    display: none;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
  }
}
