/* Global settings*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto Slab", serif;
}

/* Font-sizes */

footer ul.nav-links,
.orcament {
  font-size: 1.8rem;
}

.send-btn-input,
.event-type-input,
.email-input,
#hamitems a {
  font-size: 1.6rem;
}

/* Main background color */

.header,
#hamitens,
footer {
  background-color: var(--main-color, brown);
}

/* CSS */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.logo-and-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-and-title .logo {
  margin-right: 1.5rem;
  width: 5rem;
  background-color: var(--hyperlink-color, white);
  padding: 0.1rem;
  border-radius: 50%;
}

.logo-and-title .title {
  color: var(--title-color, white);
  font-weight: 400;
  letter-spacing: 0.5rem;
  width: 25rem;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links li {
  margin: 0 1rem;
}

#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem 1.5rem;
  text-align: center;
  background-color: var(--nav-items-color, darkred);
  border-radius: 2.5rem;
  letter-spacing: 0.1rem;
}

.hero {
  width: 100%;
  height: 75vh;
  background: url("../images/hero-banner.jpg") no-repeat center;
  background-size: cover;
}

.main h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 1rem;
  margin: 2rem 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}

.services,
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--secondary-bg-color, beige);
}

.text {
  width: 50%;
  font-size: 2rem;
  padding: 3rem;
}

.services-img,
.about-img {
  object-fit: cover;
  width: 40%;
  height: 50vh;
  margin: 4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem;
  background-color: var(--secondary-bg-color, beige);
}

.gallery img {
  object-fit: cover;
  width: 20%;
  height: 40vh;
}

h2:nth-last-of-type(1) {
  margin-bottom: 0; /* Zera a margem do último h2 (orçamento) */
}

.orcament-title {
  text-align: center;
  font-weight: 500;
  font-size: 2.2rem;
  color: var(--main-color, brown);
}

.orcament {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 75vh;
  text-align: center;
}

.event-type,
.drinks,
.vegan,
.email,
.send-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.event-type-input,
.email-input {
  text-align: center;
  font-size: 1.6rem;
  width: 23rem;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.send-btn-input {
  font-size: 1.6rem;
  width: 20rem;
  padding: 1rem 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  letter-spacing: 0.1rem;
  color: var(--hyperlink-color, white);
}

footer ul.nav-links {
  margin-bottom: 2rem;
}

footer p {
  font-size: 1.4rem;
  font-weight: 300;
}

@media (hover: hover) {
  .gallery img:hover {
    opacity: 80%;
    transition: 0.4s ease-in-out;
  }
}
